<h2>Routine Details</h2>
<div class="routine-details">
    <label for="Title">Title</label>
    <input type="text" name= "title"> <br>
    <label for="Title">Description</label>
    <input type="text" name= "description">
    <button><a href=" {% url 'homepage' %}"></a></button> 
    </div>
    <br>
    {% comment %} <h2>Routine Tasks</h2>
    <hr>
    <div class="activities">
    <label for="Activity name">Activity Name</label>
    <input type="text" name= "activity_name"><br>
    <label for="Start time">Start time</label>
    <input type="time" name="start_time" id=""><br>
    <label for="End time">End time</label>
    <input type="time" name="end_time" id=""> {% endcomment %}
    </div>